* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eaedfa;
  min-height: 100vh;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #37335d;
}

.events-container {
  background: #fff;
  padding: 3rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

.event {
  padding: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.event:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem #37335dc5;
}

.event:nth-of-type(odd) {
  background: #534bab;
  color: #fff;
}

.event:nth-of-type(even) {
  background: #eaedfa;
}

p {
  font-size: 0.9rem;
}

.date {
  font-size: 0.7rem;
}

.date span {
  font-weight: 700;
  display: block;
  font-size: 1.5rem;
  margin-top: 0.2rem;
}

.event-name {
  margin: 1rem 1rem 1.5rem 0;
  font-weight: 700;
}

.more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-info p {
  font-size: 0.7rem;
}

button {
  background: #37335d;
  border: none;
  color: #ffffffdc;
  height: 80px;
  margin-top: 1.5rem;
  grid-column: 1 / -1;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  opacity: 0.9;
}
