* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  padding: 5rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dddddd;
}

header, nav, main {
  width: 90%;
  max-width: 1000px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 4rem 2rem;
  position: relative;
  background: #ef491f;
}

.mobile-menu, .icon-tabler-menu-2 {
  display: none;
}

.logo {
  font-size: 2rem;
  display: flex;
  gap: 0.1rem;
}

.logo span {
  font-size: 1.2rem;
  margin-top: 0.25rem;
}

ul.menu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

li a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
}

li a:hover {
  color: #f3f3f3;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background: #ef491f;
  padding: 2rem 2rem 4rem 2rem;
}

h1, .logo {
  font-family: "Bowlby One", sans-serif;
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
}

p.description {
  margin: 1.5rem 0;
  max-width: 400px;
  line-height: 1.5;
  font-weight: 500;
}

button.browse-menu {
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 0.8rem 3.5rem;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  transition: 0.5s;
}

button.browse-menu:hover {
  background: #f3f3f3;
  color: #000;
}

img {
  object-fit: cover;
}

header img {
  transform: rotate(-3deg);
  width: 80%;
  max-width: 300px;
  display: block;
}

main {
  background: #fff;
  padding: 4rem 0;
  overflow: hidden;
}

.about {
  position: relative;
}

p.about-us {
  color: #ef491f;
  font-weight: 700;
  position: absolute;
  top: -4rem;
  left: 5rem;
  font-size: 3rem;
  line-height: 1;
}

figure {
  width: 80%;
  max-width: 400px;
  margin: 4rem 2rem 4rem auto;
}

.about figure img {
  width: 100%;
}

figcaption {
  text-align: center;
}

.banner {
  background: #eef867;
  color: #ef491f;
  padding: 0.5rem;
  font-weight: 700;
  width: 120%;
 
}

.banner div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.banner div p {
  min-width: max-content;
}

.banner div.first {
  animation: move-text-1 20s linear infinite;
}

.banner div.second {
  animation: move-text-2 20s linear infinite;
}

@keyframes move-text-1 {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

@keyframes move-text-2 {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.first-banner {
  transform: rotate(4deg);
  position: relative;
  top: 3rem;
}

.second-banner {
  transform: rotate(-4deg);
}

@media (max-width: 850px) {
  header {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  p.description {
    margin: 1.5rem auto;
  }

  header img {
    margin: 0 auto 3rem auto;
  }

  p.about-us {
    position: relative;
    left: 0;
    top: 0;
    margin: 4rem auto;
    text-align: center;
    padding: 0 2rem;
  }

  figure {
    margin: 4rem auto;
  }
}

@media (max-width: 600px) {
  header {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  p.about-us {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  ul.menu {
    display: none;
  }

  .icon-tabler-menu-2 {
    display: block;
    cursor: pointer;
    stroke-width: 2.5;
    width: 2rem;
    height: 2rem;
  }
}

.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  position: absolute;
  top: 5rem;
  background: #f3f3f3;
  width: 80%;
  list-style: none;
}