*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 90%;
  max-width: 350px;
}

section {
  border-radius: 0.5rem;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem #1216373b;
}

#shadow-host-companion {
  display: none;
}

.icon-tabler-x {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.top-notification {
  background: #121637;
  color: #fff;
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}

.top-notification p {
  padding-right: 3rem;
  margin-bottom: 0.5rem;
}

.bottom-notification {
  background: #fff;
  margin-top: 1rem;
  color: #121637;
}

.bottom-notification img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  background: #9cc9ff30;
  padding: 0.5rem;
}

.bottom-notification div {
  text-align: center;
}

.bottom-notification p {
  margin: 1rem;
  font-weight: 700;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.35rem 0.8rem;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  transition: 0.5s;
  min-width: 80px;
}

.enable {
  background: #4393f4;
  color: #fff;
}

.enable:hover {
  background: transparent;
  border-color: #4393f4;
  color: #4393f4;
}

.learn-more {
  background: transparent;
  color: #4393f4;
}

.top-notification .learn-more:hover {
  color: #fff;
}

.bottom-notification .learn-more:hover {
  color: #121637;
  border-color: #121637;
}

.bottom-notification button {
  padding: 0.8rem 1rem;
}

footer {
  display: flex;
  gap: 1rem;
  font-size: 0.7rem;
  padding: 1rem;
  text-align: center;
}

a {
  color: #121637;
  font-weight: 700;
}